body {
background-color: beige ;
font-family: Arial, Helvetica, sans-serif;
}

button {
width: 200px;
height: 200px;
background-color:whitesmoke;
color: black;
border: 2px solid gray;
border-radius: 22px;
font-size: 2em;
margin: 25px;
transition: 0.5s;
}

button:hover {
background-color: white;
color: black;
border: 2px solid black;
transition: 188ms;

}