body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th {
    background-color: black;
    color: white;
    padding: 5px;
  }
  
  td {
    padding: 5px;
  }
  
  input {
    width: 70px;
    text-align: center;
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
  }
  
  #total {
    width: 80px;
  }
  